<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

- Python
- R
- Julia
- Scala
- SQL

Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Pandas
- Matplotlib
- scikit-learn
- ggplot
- lattice

Data Science Tools.

In [9]:
import pandas as pd
df = {"Sparks","Jupyter","Scala","Anaconda","VS Code"}
pd.DataFrame(df)

          0
0   Jupyter
1    Sparks
2  Anaconda
3   VS Code
4     Scala

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### Objectives:

- List popular language of data science
- Introduction to r studio
- Introduction to git and github
- Using Data science libraries
- Use jupyter notebook

## Author
Rishabh Khandelwal